@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fighters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 15px;
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.fighter:hover {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.fighter-name {
  margin-top: 20px;
  align-self: center;

  font-size: 1.5rem;
  text-shadow: 1px 1px tomato;
}

.fighter-image {
  height: 260px;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;

  background: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}
